.wrapper {
    overflow-x: hidden;
}

.header {
    margin-top: 52px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 140px;
}

.header__list li {
    list-style: none;
    position: relative;
}

.header__list li::before {
    height: 3px;
    background-color: #8DFD1B;
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 0%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.header__list li:first-child:hover::before {
    width: 0%;
}

.header__list li:hover::before {
    width: 100%;
}

.header__awesome li a:hover {
    background-color: #8DFD1B;
    color: #FFF;
}

.header__list a {
    text-decoration: none;
    color: #fff;
    font-family: 'DM Mono', monospace;
}


.header__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__awesome {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 140px;
}

.header__awesome li {
    list-style: none;
}

.header__awesome a {
    text-decoration: none;
    color: black;
    background-color: #fff;
    font-size: 20px;
    padding: 10px;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.footer {
    margin-top: 118px;
    width: 100vw;
    height: 338px;
    background: #42006A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__content {
    width: 1160px;
    height: 137px;
    display: flex;
    gap: 0 64px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px 0;
    width: 208px;
}

.footer__logo-img {
    width: 103px;
    height: 24px;
}

.footer__logo>p {
    font-family: 'DM Mono';
    font-size: 13px;
    color: #FFFFFF;
}

.footer__logo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer__section2,
.footer__section3,
.footer__section4 {
    display: flex;
    flex-direction: column;
    gap: 29px 0px;
}

.footer__section2 {
    width: 90px;
}

.footer__section3 {
    width: 110px;
    margin-left: 36px;
}

.footer__section2 p a,
.footer__section3 p a,
.footer__section4 p a {
    font-family: 'DM Mono';
    color: #FFFFFF;
    text-decoration: none;
}

.footer__section4 p a {
    font-size: 13px;
}

.footer__section4 {
    widows: 208px;
    margin-left: 36px;
}

.footer__social {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 36px;
    gap: 0 12px;
}

.footer__social a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-size: 20px;
    height: 36px;
    width: 36px;
    transition: .4s ease-in-out;
}
.footer__social a:hover{
    background-color: #8DFD1B;
}
.burger__container{
    position: relative;
}
.burger {
    display: none;
    position: fixed;
    width: 60px;
    height: 45px;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 3;
}
.burger__line{
    position: absolute;
    width: 100%;
    border-radius: 3px;
    height: 5px;
    background-color: #8DFD1B;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    z-index: 2;
}

.line1{
    top: 0;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
.line2{
    top: 50%;
    transition: .2 linear;
    -webkit-transition: .2 linear;
    -moz-transition: .2 linear;
    -ms-transition: .2 linear;
    -o-transition: .2 linear;
}
.line3{
    top: 100%;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
.active .line1{
    top: 50%;
    left: 0px;
    animation: transform .3s linear .5s forwards;
}
.active .line2{
    opacity: 0;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
}
.active .line3{
    top: 50%;
    left: 0px;
    animation: transform2 .3s linear .5s forwards alternate;
}
@keyframes transform{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}
@keyframes transform2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}
.logo-adaptive{
    display: none;
}
/* .fab {
}
.fa-twitter {
}
.fa-discord {
}
.fa-youtube {
}
.fa-telegram-plane {
} */

@media screen and (max-width: 1200px) {
    .header__awesome {
        margin-right: 20px;
    }

    .header__list {
        margin-left: 20px;
    }
    .footer{
        padding: 150px 30px;
    }
    .footer__content{
        gap: 0 40px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 1065px){
    .footer__social{
        margin-top: 50px;
    }
}
@media screen and (max-width: 809px){
    .footer__section4{
        margin-top: 50px;
    }
    .footer{
        overflow: hidden;
        height: 400px;
    }
    .footer__social{
        margin-left: 0;
    }
}
@media screen and (max-width: 768px) {
    .header__navigation{
        position: fixed;
        right: -100%;
        transition: .4s ease;
        -webkit-transition: .4s ease;
        -moz-transition: .4s ease;
        -ms-transition: .4s ease;
        -o-transition: .4s ease;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: purple;
        height: 100%;
        z-index: 1;
        top: 0;
}
    .header__awesome {
        margin-right: 20px;
        margin-bottom: 40px;
    }

    .header__list {
        margin-left: 20px;
        flex-direction: column;
        justify-content: center;
        margin-top: 130px;
    }

    .burger {
        display: block;

    }
    .header__navigation.burger__active{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        height: 100%;
        right: 0%;
        top: 0%;
        background-color: purple;
        z-index: 1;
        transition: .3s ease-in;
        -webkit-transition: .3s ease-in;
        -moz-transition: .3s ease-in;
        -ms-transition: .3s ease-in;
        -o-transition: .3s ease-in;
}
    .logo-adaptive{
        display: block;
        margin-left: 30px;
        text-decoration: none;
    }
}
@media screen and (max-width: 585px){
    .footer{
        height: 570px;
        align-items: start;
    }
    .footer__logo{
        margin-bottom: 30px;
    }
}